<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @subscription.channel_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @subscription.user_id %>
</p>

<p>
  <strong>Last video:</strong>
  <%= @subscription.last_video %>
</p>

<p>
  <strong>Video time:</strong>
  <%= @subscription.video_time %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
