<!DOCTYPE html>
<html>
<head>
  <title>Monotone4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div id="logo">MONOTONE</div>
  <ul class="user-menu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
</header>
<%= yield %>

</body>
</html>
